<h1 class="jumbotron-heading">Organisation</h1>
<uib-tabset active="active">
    <uib-tab index="0" heading="{{tabs[0].name}}" disable="tabs[0].disabled">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Nom de l'organisation du site audité</h5>
                <input type="text" class="form-control" placeholder="Nom" ng-model="organization.name"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Nom" ng-model="organization.name"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <h5>Adresse(s)</h5>
        <div class="form-row" ng-repeat="address in organization.addresses">
            <div class="col-md-1 mb-3">
                <a ng-click="delRow(organization.addresses, $index)"
                   ng-if="modified && organization.addresses.length > 1">
                    <ng-md-icon icon="remove" style="fill: #c60000"></ng-md-icon>
                </a>
            </div>
            <div class="col-md-2 mb-3">
                <h6>NP</h6>
                <input type="text" class="form-control" placeholder="NP"
                       ng-model="address.np"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="NP"
                       ng-model="address.np"
                       ng-if="!modified" disabled>
            </div>
            <div class="col-md-3 mb-3">
                <h6>Adresse</h6>
                <input type="text" class="form-control" placeholder="Adresse"
                       ng-model="address.address"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Adresse"
                       ng-model="address.address"
                       ng-if="!modified" disabled>
            </div>
            <div class="col-md-3 mb-3">
                <h6>Localité</h6>
                <input type="text" class="form-control" placeholder="Localité"
                       ng-model="address.location"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Localité"
                       ng-model="address.location"
                       ng-if="!modified" disabled>
            </div>
            <div class="col-md-3 mb-3">
                <h6>Pays</h6>
                <input type="text" class="form-control" placeholder="Pays"
                       ng-model="address.country"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Pays"
                       ng-model="address.country"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-1 mb-3">
                <a ng-click="addRow(organization.addresses)"
                   ng-if="modified">
                    <ng-md-icon icon="add" style="fill: #2f6ac6"></ng-md-icon>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Email</h5>
                <input type="email" class="form-control" placeholder="Email" ng-model="organization.email"
                       ng-if="modified">
                <input type="email" class="form-control" placeholder="Email" ng-model="organization.email"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Téléphone</h5>
                <input type="tel" class="form-control" placeholder="Téléphone" ng-model="organization.phone"
                       ng-if="modified">
                <input type="tel" class="form-control" placeholder="Téléphone" ng-model="organization.phone"
                       ng-if="!modified"
                       disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Site web</h5>
                <input type="text" class="form-control" placeholder="Site web" ng-model="organization.website"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Site web" ng-model="organization.website"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Branches / Etablissements secondaires / Processus externalisés</h5>
                <input type="text" class="form-control"
                       placeholder="Branches / Etablissements secondaires / Processus externalisés"
                       ng-model="organization.branches"
                       ng-if="modified">
                <input type="text" class="form-control"
                       placeholder="Branches / Etablissements secondaires / Processus externalisés"
                       ng-model="organization.branches"
                       ng-if="!modified" disabled>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Nom de la personne de contact</h5>
                <input type="text" class="form-control" placeholder="Nom de la personne de contact"
                       ng-model="organization.contactLastName" ng-if="modified">
                <input type="text" class="form-control" placeholder="Nom de la personne de contact"
                       ng-model="organization.contactLastName" ng-if="!modified"
                       disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Prénom de la personne de contact</h5>
                <input type="text" class="form-control" placeholder="Prénom de la personne de contact"
                       ng-model="organization.contactFirstName"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Prénom de la personne de contact"
                       ng-model="organization.contactFirstName"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3" ng-if="modified">
                <h5>Description générale de l'organisation</h5>
                <trix-editor ng-model="organization.generalDescription" angular-trix></trix-editor>
            </div>
            <div class="col-md-12 mb-3" ng-if="!modified">
                <h5>Description générale de l'organisation</h5>
                <div ng-bind-html="organization.generalDescription" ng-if="organization.generalDescription"></div>
                <p ng-if="!organization.generalDescription">-</p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Brève description des processus et produits exclus et justification de l'exclusion</h5>
                <input type="text" class="form-control"
                       placeholder="Brève description des processus et produits exclus et justification de l'exclusion"
                       ng-model="organization.outsourcedProcessAndProductsDescription" ng-if="modified">
                <input type="text" class="form-control"
                       placeholder="Brève description des processus et produits exclus et justification de l'exclusion"
                       ng-model="organization.outsourcedProcessAndProductsDescription" ng-if="!modified"
                       disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Nom de l'organisation du siège</h5>
                <input type="text" class="form-control" placeholder="Nom de l'organisation du siège"
                       ng-model="organization.headquartersName"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Nom de l'organisation du siège"
                       ng-model="organization.headquartersName"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>NP du siège</h5>
                <input type="text" class="form-control" placeholder="NP du siège"
                       ng-model="organization.headquartersNP"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="NP du siège"
                       ng-model="organization.headquartersNP"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Adresse du siège</h5>
                <input type="text" class="form-control" placeholder="Adresse du siège"
                       ng-model="organization.headquartersAddress"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Adresse du siège"
                       ng-model="organization.headquartersAddress"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Localité du siège</h5>
                <input type="text" class="form-control" placeholder="Localité du siège"
                       ng-model="organization.headquartersLocation"
                       ng-if="modified">
                <input type="text" class="form-control" placeholder="Localité du siège"
                       ng-model="organization.headquartersLocation"
                       ng-if="!modified" disabled>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Nombre total d'employés</h5>
                <input type="number" class="form-control" placeholder="Nombre total d'employés"
                       ng-model="organization.employeesNumber"
                       ng-if="modified">
                <input type="number" class="form-control" placeholder="Nombre total d'employés"
                       ng-model="organization.employeesNumber"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <h5>Nombre d'équivalents plein temps</h5>
                <input type="number" class="form-control" placeholder="Nombre d'équivalents plein temps"
                       ng-model="organization.fullTimeNumber"
                       ng-if="modified">
                <input type="number" class="form-control" placeholder="Nombre d'équivalents plein temps"
                       ng-model="organization.fullTimeNumber"
                       ng-if="!modified" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3" ng-if="modified">
                <h5>Principaux changements au sein du système de management depuis le dernier audit</h5>
                <trix-editor ng-model="organization.changesSinceLastAudit" angular-trix></trix-editor>
            </div>
            <div class="col-md-12 mb-3" ng-if="!modified">
                <h5>Principaux changements au sein du système de management depuis le dernier audit</h5>
                <div ng-bind-html="organization.changesSinceLastAudit" ng-if="organization.changesSinceLastAudit"></div>
                <p ng-if="!organization.changesSinceLastAudit">-</p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <input type="button" value="Modifier" class="btn btn-dark" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateProfile()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="{{tabs[1].name}}" disable="tabs[1].disabled">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Rapport</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="audit in audits" class="clickable-tr">
                <td ng-click="goTo(audit.pk_audit)">{{audit.reportName}}</td>
                <td ng-click="goTo(audit.pk_audit)">{{audit.auditDate | date:"dd.MM.yyyy"}}</td>
                <td>
                    <button class="btn btn-dark">
                        <ng-md-icon icon="picture_as_pdf" style="fill: white"></ng-md-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <button class="btn btn-primary" ng-click="newAudit()">Nouvel Audit</button>
            </div>
        </div>
    </uib-tab>
</uib-tabset>