/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.clickable-tr:hover {
    cursor: pointer;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40 !important;

}

.navbar-nav > li > .dropdown-menu a {
    color: rgba(255, 255, 255, .5);
}

.navbar-nav > li > .dropdown-menu a:hover {
    color: #212529;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.table-check-question {
    width: 35%;
}

.table-check-yes {
    width: 5%;
}

.table-check-comment {
    width: 60%;
}

.table-conclusion-title {
    width: 90%;
}

table-conclusion-yesno {
    width: 10%;
}

.table-doc-doc {
    width: 30%;
}

.table-doc-description {
    width: 70%;
}

.table-auditplan-start {
    width: 15%;
}

.table-auditplan-end {
    width: 15%;
}

.table-auditplan-place {
    width: 15%;
}

.table-auditplan-auditedStaff {
    width: 15%;
}

.table-auditplan-services {
    width: 15%;
}

.table-auditplan-standardChapter {
    width: 10%;
}

.table-auditplan-auditor {
    width: 15%;
}